body {
  margin: 0;
  border: solid #E1E7FA 1.2rem;
  height: 5000px;
  padding: 0;
}

.navBar {
  height: 10vh;
  width: 100%;
  margin: 0;
  display: flex;
}

.leftNav {
  width: 10vw;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  margin-left: 3rem;
}
nav section h1 {
  margin: 0;
  font-size: 1.5em;
}

nav section h2 {
  font-size: 1em;
  margin: 0;

}

.centerNav {
  text-transform: uppercase;
  margin: 0;
  /* width: 50vw; */
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

nav ul li {
  margin: 0 1em;
  font-size: .8em;
  list-style: none;
}

#rightNav {
  /* width: 15%; */
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: stretch;
  margin: 1rem;
}

.invisionIcon {
  font-size: 2.5rem;
  margin-left: 1rem;
  margin-right: .5rem;
}


.icon-container-one {
  position: absolute;
  bottom: 0;
  right: 5rem;
  color: #0828CC;
  position: fixed;
  bottom: 2rem;
  margin-right: 0.1rem;
  display: flex;
}

.button {
  background: #0828CC;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 0.8rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-two {
  background: #F80051;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 0.7rem;
  padding: 20px 40px 20px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.firstRow {
  background: #E1E7FA;
  margin-top: 5rem;
  margin-left: 5rem;
  height: 70vh;
  display: flex;
}

.cta-one {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
  align-content: stretch;
  margin-left: 7rem;
}

h1 {
  margin: 0;
  font-size: 3em;
  font-family: 'Open Sans', sans-serif;
}

.icon-container-two {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-end;
	align-content: stretch;
}

.socialicontwo {
  font-size: 2.5rem;
  margin-top: .5rem;
}

.second-row-boxone {
  /* margin-top: 5rem; */
  height: 60vh;
  display: flex;
}

/* .second-row-backgroundbox {
  background: #FBFBFB;
  /* height: 60vh;  */
  /* this height could be the problem */
  /* display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-end;
	align-content: stretch;
} */ 

.second-row-smallcolorbox {
  background: #F80051;
  height: 10rem;
  width: 10rem;
  margin-top: 16rem;
  margin-left: 8rem;
  display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.cta-two {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
  align-content: stretch;
  margin-left: 15rem;
}